<!--<app-component-example></app-component-example>
<app-displaying-data-handling-events></app-displaying-data-handling-events>
<app-exercise-favorite-component></app-exercise-favorite-component>
<app-exercise-titlecase></app-exercise-titlecase>-->

<!--here we have called these input and output properties of the app-component-api component. change event is just a event that will trigger when user use this component-->
<!--pet-title is the alias name of the title property inside the component-->
<!--we have to pass $event to pass event data-->
<!--<app-component-api [isFavourite] = "post.isFavourite" [pet-title] = "post.title" (change)="ifFavouriteChange($event)"></app-component-api> 
<app-ng-content-ng-container>
    <!--we are defining these divs by heading and body classes because in the ng-content select, we gave heading and body css classes to define them uniquely-->
    <!--when we use this div with a class, the ng-content will be replaced by this div but if you only want the "Heading" word to be replaced, you should use ng-container-->
    <!--ng-container will replace only the content inside that tag-->
    <!--<ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h1>Body</h1>
        <p>Add something here...</p>
    </div>
</app-ng-content-ng-container>

<app-switch-case></app-switch-case>-->

<!--<app-directives></app-directives>-->

<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
